.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $color-blue;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo__header {
    color: $text-color
}

.logo__footer {
    color: $color-white
}